/* base colors
#B2A0D9
#B8B0D9
#C5CED9
#F2F2F2
#2AA4BF */

.main-contents {
    background-color: #F2F2F2;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.full-dash {
    width: 60vw;
    height: 15vh;
    margin-top: 1vh;
    margin-left: 5vw;
    background-color: #FFFFFF;
}

.feature-selector {
    margin-left: 5vw;
}

.seg-size-control {
    width: 5vw !important;
}

.full-dash-axis {
    width: 60vw;
    height: 20vh;
    margin-top: 1vh;
    margin-left: 5vw;
    background-color: #FFFFFF;
}

#video-control {
    width: 30vw;
    margin-right: 2.5vw;
}

.dash-title {
    background-color: #515151;
    color: #FFFFFF;
}

.legend-box {
    position: absolute;
    right: 1em;
    top: 0.5em;
    background-color: rgba(197, 206, 217, 0.3);
    padding: 0.25em;
}

.legend-icon {
    width: 1em;
    height: 1em;
}

.category-rect {
    fill-opacity: 50%;
}

